.custom-shape-divider-bottom-1710214192 {
  position: relative;
  top: -39rem;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1710214192 svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 141px;
}

.custom-shape-divider-bottom-1710214192 .shape-fill {
  fill: #000000;
}

.footer-main-container {
  background-color: #000000;
  height: 25rem;
}

#tsparticle2 {
  // position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 5px;
  left: 0;
  top: 0;
  z-index: -1;
}

.container-ff {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.moving-img {
    position: absolute;
    top: 13rem;
    width: 7rem;
    transform: translateY(-50%) rotate(0deg); /* Initial rotation */
    animation: moveText 15s linear infinite, rotateText 6s linear infinite; /* Apply both animations */  }

@keyframes moveText {
  from {
    left: -105rem;
  }
  to {
    left: calc(100% - 100px); /* Adjust the final position as needed */
  }
}

@keyframes rotateText {
  from {
    transform: translateY(-50%) rotate(0deg); /* Initial rotation */
  }
  to {
    transform: translateY(-50%) rotate(360deg); /* Final rotation */
  }
}
